img {
	width: 120px;
}
.App {
	background-image: url("/forest.jpg");

	/* Set a specific height */
	height: 100vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.Location {
	display: flex;
	justify-content: center;
}

.LocationDropdown {
	display: inline-block;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 10px;
}

.selectPath {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
