.container > div {
  padding: 10px;
  text-align: center;
  font-size: 24px;
  color: white;
}

html,
body {
  background-color: #295651;
  margin: 10px;
}

.container > div:nth-child(1) {
  background-color: #97baa4;
  margin-bottom: 20px;
}

.container > div:nth-child(2) {
  height: auto;
  background-color: #499360;
  margin-bottom: 20px;
}

.container > div:nth-child(3) {
  display: auto;
  background-color: none;
}

.container > div:nth-child(4) {
  display: auto;
  background-color: none;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.checkboxes {
  display: auto;
}

label {
  margin: 10px;
}
.trail-data {
  color: green;
}
